<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bidisha Sarkar</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <!--dust particel-->
  <div>
    <div class="starsec"></div>
    <div class="starthird"></div>
    <div class="starfourth"></div>
    <div class="starfifth"></div>
  </div>
  <!--Dust particle end--->

  <nav>
    <div class="left">
      <a href="/">Bidisha Sarkar</a>
    </div>

    <div class="right">
      <a href="#about">
        <span>ABOUT</span>
      </a>
      <a href="#skills">
        <span>SKILLS</span>
      </a>
      <a href="#contact">
        <span>CONTACT</span>
      </a>
    </div>

    <div class="download">
      <a href="https://drive.google.com/uc?export=download&id=1tC7DEV9Sd6TPnA_3Wa2wwatoS9VECg-p" download class="Btn">
        <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
          </path>
        </svg>
        <span class="icon2"></span>
        <span class="tooltip">Resume</span>
      </a>
    </div>
  </nav>

  <main>
    <section class="sec1">
      <div class="mainimg">
        <img src="images/img2.jpg" alt="bidisha sarkar">
      </div>
      <div class="text">
        <h1 style="font-family: poppins; color: goldenrod;">Bidisha Sarkar</h1>
        <p>I'm a 3rd-year Computer Science & Engineering student and a passionate Software Developer, eager to build
          innovative tech solutions. I love creating impactful software and focused on problem solving. <br>Explore my
          work and let's connect! 🚀</p>
        <div class="links">
          <a href="http://github.com/bidisha979">
            <i class="fa-brands fa-github"></i>
            <span>GitHub</span>
          </a>
          <a href="https://www.linkedin.com/in/bidisha-sarkar-55500a254/">
            <i class="fa-brands fa-linkedin"></i>
            <span>linkedIn</span>
          </a>
          <a href="https://leetcode.com/u/bidishasarkar979/">
            <i class="fa-solid fa-code"></i>
            <span>LeetCode</span>
          </a>
          <a href="mailto:bidisha0327@gmail.com">
            <i class="fa-solid fa-envelope"></i>
            <span>Email</span>
          </a>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="text" style="color: white;">
        <h3 style="color: white;">About Me</h3>
        <p>
          Hello! I'm Bidisha Sarkar👋, a 21-year-old software developer from Kolkata, West Bengal, India. Currently, I’m
          pursuing B.Tech in Computer Science and Engineering at Kalyani Government Engineering College, affiliated
          under
          MAKAUT. As a full-stack developer, I specialize in building web applications and have a strong passion for
          data
          structures & algorithms (DSA) problem-solving.
        </p>
      </div>
      <div class="abt">
        <div class="edu">
          <h2>Academics</h2>
          <ul>
            <li><b>B.Tech (CSE) | Kalyani Government Engineering College</b>
              <ul>
                <li class="sub-point">Current YGPA: <b>8.38<br><br></b></li>
              </ul>
            </li>
            <li><b>12th Grade (CBSE, Science Stream)</b> – <b>76.2%</b></li>
            <li><b>10th Grade (CBSE)</b> – <b>90.8%</b></li>
          </ul>
        </div>
        <div class="ach" style="color: white;">
          <h2>Achievements</h2>
          <ul>
            <li>Solved 300+ DSA problems, including 230+ on LeetCode</li>
            <li>Earned certifications in Python and SQL from Infosys Springboard <a
                href="https://drive.google.com/drive/folders/1Uu4EGxt86OpUlKGfXba-y6gBSM8v_aY3" target="_blank"
                class="ctlink"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></a></li>
            <li>A member of my college NSS team</li>
            <li>Continuously enhancing my problem-solving and development skills</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="skills">
      <h3>Skills</h3>
      <div class="skl">
        <div class="ts" style="color: white;">
          <h2>Technical Skills</h2>
          <ul>
            <li><span class="category">Programming Languages:</span> Java, Python, C, JavaScript</li>
            <li><span class="category">Front-end:</span> HTML, CSS, Tailwind CSS, BootStrap</li>
            <li><span class="category">Back-end:</span> Node.js, Express.js</li>
            <li><span class="category">Databases:</span> MongoDB, MySQL</li>
            <li><span class="category">Libraries:</span> Pandas, NumPy, PeerJS, Socket.io</li>
            <li><span class="category">Development Tools:</span> GitHub</li>
          </ul>
        </div>
        <div class="nts" style="color: white;">
          <h2>Non-Technical Skills</h2>
          <ul>
            <li>Problem-Solving & Logical Thinking</li>
            <li>Time Management & Adaptability</li>
            <li>Teamwork & Collaboration</li>
            <li>Critical Thinking & Decision-Making</li>
            <li>Communication & Presentation Skills</li>
            <li>Precision</li>
          </ul>
        </div>
      </div>

      <div class="cells">
        <div class="cell">
          <img src="images/html-logo.webp" alt="html logo">
          <span>HTML</span>
        </div>
        <div class="cell">
          <img src="images/css-logo.webp" alt="css logo">
          <span>CSS</span>
        </div>
        <div class="cell">
          <img src="images/javascript-logo.webp" alt="javascript logo">
          <span>JavaScript</span>
        </div>
        <div class="cell">
          <img src="images/java-logo.jpg" alt="java logo">
          <span>Java</span>
        </div>
        <div class="cell">
          <img src="images/python-logo.jpg" alt="python logo">
          <span>Python</span>
        </div>
        <div class="cell">
          <img src="images/node-logo.webp" alt="node logo">
          <span>Node.js</span>
        </div>
        <div class="cell">
          <img src="images/mongodb-logo.png" alt="mongodb logo">
          <span>MongoDB</span>
        </div>
      </div>

      <div class="ppro">
        <div class="pr" style="color: white;">
          <h2 style="color: white;">Projects</h2>
          <ul>
            <li><span class="category">Real-time Video Chat Application (VC-Chat) –</span> Built using Node.js,
              PeerJS, and Socket.io and also completely deployed. <a href="https://vc-chat.onrender.com">Click me</a> to
              visit</li>
            <li><span class="category">Telegram Bot (Tomato) –</span> Developed in Python using online APIs,
              generates recipes, images and jokes</li>
            <li><span class="category">Voice Recorder –</span> A Python tool for audio recording</li>
            <li><span class="category">Portfolio Website –</span> Created using HTML, CSS, JavaScript, Node.js,
              and
              MongoDB</li>
            <li><span class="category">Tic-Tac-Toe Game –</span> A simple, fun and interactive Python game using
              Tkinter</li>
            <li><span class="category">Blood & Organ Donation Platform (In Progress) –</span> A full-stack
              project
              to facilitate life-saving donations using Node.js, and MongoDB</li>
            <li><span class="category">And many more...!</span></li>
          </ul>
        </div>
      </div>
    </section>

    <section id="contact">
      <!-- From Uiverse.io by Smit-Prajapati -->
      <h2 style="color: white;">Contact Form</h2>
      <div class="form-container">
        <form action="/" method="post" class="form">
          <span class="heading">Get in touch</span>
          <input name="name" placeholder="Name" type="text" class="input" required>
          <input name="email" placeholder="Email" id="mail" type="email" class="input" required>
          <textarea name="msg" placeholder="Say Hello" rows="10" cols="30" id="message" class="textarea"></textarea>
          <div class="button-container">
            <button type="submit" class="send-button">Send</button>
            <div class="reset-button-container">
              <div id="reset-btn" class="reset-button">Reset</div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>

  <footer>
    <div class="connect">
      Connect with me
    </div>
    <!-- From Uiverse.io by escannord -->
    <ul class="wrapper">
      <a href="https://www.facebook.com/bidisha.sarkar.7792052">
        <li class="icon facebook">
          <span class="tooltip">Facebook</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="1.2em" viewBox="0 0 320 512">
            <path
              d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
            </path>
          </svg>
        </li>
      </a>
      <a href="https://x.com/Bidisha81834648">
        <li class="icon twitter">
          <span class="tooltip">Twitter</span>
          <svg class="twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="currentColor"
            height="1.8em">
            <path
              d="M42,12.429c-1.323,0.586-2.746,0.977-4.247,1.162c1.526-0.906,2.7-2.351,3.251-4.058c-1.428,0.837-3.01,1.452-4.693,1.776C34.967,9.884,33.05,9,30.926,9c-4.08,0-7.387,3.278-7.387,7.32c0,0.572,0.067,1.129,0.193,1.67c-6.138-0.308-11.582-3.226-15.224-7.654c-0.64,1.082-1,2.349-1,3.686c0,2.541,1.301,4.778,3.285,6.096c-1.211-0.037-2.351-0.374-3.349-0.914c0,0.022,0,0.055,0,0.086c0,3.551,2.547,6.508,5.923,7.181c-0.617,0.169-1.269,0.263-1.941,0.263c-0.477,0-0.942-0.054-1.392-0.135c0.94,2.902,3.667,5.023,6.898,5.086c-2.528,1.96-5.712,3.134-9.174,3.134c-0.598,0-1.183-0.034-1.761-0.104C9.268,36.786,13.152,38,17.321,38c13.585,0,21.017-11.156,21.017-20.834c0-0.317-0.01-0.633-0.025-0.945C39.763,15.197,41.013,13.905,42,12.429">
            </path>
          </svg>
        </li>
      </a>
      <a href="https://www.instagram.com/bidisha_979/">
        <li class="icon instagram">
          <span class="tooltip">Instagram</span>
          <svg viewBox="0 0 16 16" class="bi bi-instagram" fill="currentColor" height="1.2em"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z">
            </path>
          </svg>
        </li>
      </a>
    </ul>
    <div class="foot">
      Made by @Bidisha Sarkar
    </div>
  </footer>

  <script>
    document.getElementById('reset-btn').addEventListener('click', function () {
      document.querySelector('.form').reset();
    });
  </script>

</body>

</html>